<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoviWeb App{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>🎬 MoviWeb Application</h1> 
        
        <nav>
            <a href="{{ url_for('home') }}">
                🏠 Home (Select User)
            </a>
            </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer style="margin-top: 50px; padding: 10px; border-top: 1px solid #ccc; text-align: center;">
        <p>&copy; 2025 MoviWeb</p>
    </footer>
</body>
</html>