<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoviWeb App{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav style="background-color: #333; padding: 10px;">
            <a href="{{ url_for('home') }}" style="color: white; text-decoration: none; margin-right: 20px;">
                🏠 Home (Select User)
            </a>
            </nav>
        <h1 style="color: #333; padding: 10px;">🎬 MoviWeb Application</h1>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer style="margin-top: 50px; padding: 10px; border-top: 1px solid #ccc; text-align: center;">
        <p>&copy; 2025 MoviWeb</p>
    </footer>
</body>
</html>